@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-red {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#EA1616, #EA1616)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}
.overlay a {
  font-family: "Roboto", sans-serif;
  color: #171717;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  opacity: 0.65;
}
.overlay a:hover,
.overlay a:focus {
  color: #fdbc01;
}
.overlay .closebtn {
  color: #000000;
  position: absolute;
  left: 86%;
  font-size: 40px;
}
.overlay-banner-construction {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../public/media/construction-page/banner-crane.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-banner-road-construction{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../public/media/road-construction-page/road-construction.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-banner-railways {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.45)), url("../public/media/railways-page/railway.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-banner-rental {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("../public/media/rental-page/excavator-banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-banner-ourprojects {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../public/media/our-projects/building-chelm.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay-contact-us-portfolio {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("../public/media/our-projects/tower.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*------------Gallery-------------*/
.model{
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.close-button-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}
.left-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50px;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 40px;
}
.right-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 50px;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 40px;
}
@media screen and (max-width: 1000px){
  .left-button{
    width: 2rem;
    height: 2rem;
    font-size: 22px;
  }
  .right-button{
    width: 2rem;
    height: 2rem;
    font-size: 22px;
  }
}


